docling==2.41.0
docling-core==2.43.0
docling-ibm-models==3.8.2
docling-parse==4.1.0
dotenv==0.9.9
easyocr==1.7.2

fastapi==0.116.1

ninja==1.11.1.4
numpy==2.2.6
openai==1.97.0
opencv-python-headless==4.12.0.88
openpyxl==3.1.5

langchain==0.3.26
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-tavily==0.2.10
langgraph==0.5.3
packaging==25.0
pandas==2.3.1

pypdf==5.8.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pytest==8.4.1
pytest-asyncio==1.1.0
python-dotenv==1.1.1

pydantic==2.11.7
pydantic_core==2.33.2
pydantic-settings==2.10.1

tavily-python==0.7.10
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1